.back {
    position: absolute;
    top: 25px;
    left: 25px;
}

i {
    color: black;
    font-size: 24px;
}

i:hover {
    color: green;
    transform: scale(1.1);
}

a {
    padding: 3px;
}

.wrapper {
    width: 100%;
    margin: 75px auto;
}

img {
    width: 300px;
    margin: 50px;
}

img:hover {
    width: 400px;
    margin: 0;
}