.back {
    position: absolute;
    top: 25px;
    left: 25px;
}

i {
    color: black;
    font-size: 24px;
}

i:hover {
    color: green;
    transform: scale(1.1);
}

a {
    padding: 3px;
}

main {
    position: relative;
    top: 70px;
}

form {
    width: 550px;
    font-size: 24px;
    margin: 20px auto;
}

label {
    cursor: pointer;
}

input[type=text] {
    width: 50%;
}

#other1 {
    visibility: hidden;
}

input#other1:focus {
    border: 2px solid red;
}